/* Blizzard Battle.net theme for Mica Minecraft Launcher */
/* Created by Brandon Holt aka RinRin Blissgreen (rinrincodes) /*

/* Root Pane Styling */

.rootPane {
	-fx-background-color: #15171D;
}


/* Label Styling */

.label {
	-fx-text-fill: white;
}


/* Regular Button Styling */

.mfx-button:armed,
.mfx-button:hover,
.mfx-button:focused,
.mfx-button {
	-mfx-button-type: RAISED;
	-mfx-depth-level: Level3;
}

.mfx-button,
.mfx-button:armed,
.mfx-button:focused {
	-fx-background-color: #3074ED;
}

.mfx-button .ripple-generator,
.mfx-button:armed .ripple-generator,
.mfx-button:focused .ripple-generator {
	-mfx-ripple-color: #4783EE;
}

.mfx-button .text,
.mfx-button:armed .text,
.mfx-button:focused .text {
	-fx-fill: white;
}


/* Toggle Button Styling */

.mfx-toggle-button,
.mfx-toggle-button:armed,
.mfx-toggle-button:hover,
.mfx-toggle-button:focused,
.mfx-toggle-button:selected,
.mfx-toggle-button:focused:selected {
	-mfx-toggle-color: #3074ED;
}

.mfx-toggle-button .text,
.mfx-toggle-button:armed .text,
.mfx-toggle-button:hover .text,
.mfx-toggle-button:focused .text,
.mfx-toggle-button:selected .text,
.mfx-toggle-button:focused:selected .text {
	-fx-fill: white;
}

/* Text Field Styling */

.mfx-text-field {
    -fx-prompt-text-fill: #fff;
    -fx-text-fill: #fff;
    -mfx-line-color: #3074ED;
}


/* Center Pane Styling */

.centerPane {
	-fx-background-color: #22242B;
	-fx-border-shadow: 6px;
}


/* Combo Box Styling */

.mfx-combo-box {
    -fx-background-color: TRANSPARENT;
	-mfx-line-color: #3074ED;
}

.mfx-combo-box .mfx-icon-wrapper .ripple-generator {
	-mfx-ripple-color: #bbb !important;
}

.mfx-combo-box:focused .mfx-icon-wrapper .mfx-font-icon {
	-mfx-color: #3074ED !important;
}

.mfx-combo-box:editor .mfx-icon-wrapper .mfx-font-icon {
	-mfx-color: white !important;
}


/* Settings Window Danger Zone Styling */

.dangerZone {
	-fx-background-color: #C22C33;
}

.dangerZone .mfx-button,
.dangerZone .mfx-button:armed,
.dangerZone .mfx-button:focused {
	-fx-background-color: #FF6C6C;
}

.dangerZone .mfx-button .ripple-generator,
.dangerZone .mfx-button:armed .ripple-generator,
.dangerZone .mfx-button:focused .ripple-generator {
	-mfx-ripple-color: #bbb;
}

.dangerZone .mfx-button .text,
.dangerZone .mfx-button:armed .text,
.dangerZone .mfx-button:focused .text {
	-fx-fill: #fff;
}