* {
    -fx-font-family: Verdana, Geneva, sans-serif !important;
    -fx-prompt-text-fill: #ddd !important;
    -fx-text-fill: #ddd !important;
    -jfx-focus-color: #7fc860 !important;
    -jfx-unfocus-color: #4d4d4d !important;
}

.jfx-button {
    -fx-background-color: #7fc860 !important;
    -fx-text-fill: #222 !important;
}

.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A !important;
    -jfx-checked-color: #7fc860 !important;
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar {
    -fx-background-color: #7fc860 !important;
}

.cpanel {
    -fx-background-color: rgba(70,70,70,0.95) !important;
    -fx-background-radius: 10px !important;
}

.jfx-chip-view .jfx-chip * {
    -fx-text-fill: #444 !important;
}

.jfx-chip-view .jfx-chip .close-button .jfx-rippler {
    -jfx-rippler-fill: BLACK;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: BLACK !important;
    -fx-text-color: BLACK !important;
}