.jfx-combo-box > .list-cell > .text,
.jfx-combo-box > .list-cell > .label{
	-fx-text-fill: #d3d3d3;
	-fx-fill: #d3d3d3;
}

.jfx-chip-view {
    -fx-text-fill:#d3d3d3!important;
}

* {
    -fx-font-family: "SansSerif" !important;
}