* {
    -fx-font-family: Verdana, Geneva, sans-serif !important;
}

.theme-label {
    -fx-text-fill: #030303 !important;
}

.theme-fill {
    -fx-background-color: #cccccc !important;
}

.jfx-combo-box {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-prompt-text-fill: #4d4d4d;
}

.jfx-combo-box > .cell {
    -fx-text-fill: #0a0a0a !important;
}

.jfx-combo-box > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-combo-box > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-combo-box > .prompt-container {
    -fx-alignment: center-left;
}

.jfx-combo-box,
.jfx-combo-box:focused,
.jfx-combo-box:editable,
.jfx-combo-box:editable:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}

.jfx-combo-box .combo-box-button-container {
    -fx-background-color: TRANSPARENT;
}

.jfx-combo-box > .arrow-button,
.jfx-combo-box:editable > .arrow-button,
.jfx-combo-box:editable:focused > .arrow-button {
    -fx-background-color: TRANSPARENT;
}

.jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-combo-box .error-label {
    -fx-text-fill: #D34336;
}

.jfx-combo-box .error-icon {
    -fx-fill: #D34336;
}

.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: #0F9D58;
}

.jfx-check-box .box-container {
    -fx-shape: "M 400 100 L 400 100 A 50 50 0 1 1 400 250 A 50 50 0 1 1 400 100 ";
    -fx-padding: 10;
}

.jfx-check-box .box,
.jfx-check-box:indeterminate .box,
.jfx-check-box:indeterminate:selected .box{
    -fx-pref-width: 18;
    -fx-pref-height: 18;

    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;

    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 2;

    -fx-border-color: -jfx-unchecked-color;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.jfx-check-box:selected .box {
    -fx-border-color: -jfx-checked-color;
}

.jfx-check-box .mark {
    -fx-shape: "M384 690l452-452 60 60-512 512-238-238 60-60z";
    -fx-max-width: 15;
    -fx-max-height: 12;

    -fx-background-color: WHITE;

    -fx-border-color: WHITE;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.jfx-check-box .indeterminate-mark{
    -fx-background-color: -jfx-checked-color;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-max-width: 10;
    -fx-max-height: 10;
}

.jfx-progress-bar > .track{
    -fx-background-color: #E0E0E0;
}

.jfx-progress-bar > .bar,
.jfx-progress-bar:indeterminate > .bar{
    -fx-background-color: #0F9D58;
    -fx-padding: 1.5;
}

.jfx-progress-bar > .secondary-bar,
.jfx-progress-bar:indeterminate > .secondary-bar{
    -fx-background-color: #CDE1B7;
}

.jfx-progress-bar > .track,
.jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-chip-view {
    -fx-background-color: TRANSPARENT;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

.jfx-chip-view .chips-pane {
    -fx-background-color: TRANSPARENT;
    -fx-vgap: 4;
    -fx-hgap: 6;
}

.jfx-chip-view .chips-pane > .text-area,
.jfx-chip-view .chips-pane > .text-area .scroll-pane,
.jfx-chip-view .chips-pane > .text-area .scroll-pane > .viewport,
.jfx-chip-view .chips-pane > .text-area:focused,
.jfx-chip-view .chips-pane > .text-area:focused .scroll-pane {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-chip-view .chips-pane > .text-area {
    -fx-padding: 0.333333em 0 0.333333em 0;
    -fx-min-width: 100px;
    -fx-pref-height: 42;
}

.jfx-chip-view .chips-pane > .text-area .content,
.jfx-chip-view .chips-pane > .text-area:focused .content {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-padding: 0 0 0 0;
}

.jfx-chip-view .jfx-chip > HBox {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14.0;
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 40px;
    -fx-padding: 5px 8px 5px 12px;
    -fx-pref-height: 32px;
    -fx-alignment: center-left;
    -fx-spacing: 8;
}

.jfx-chip-view > .scroll-pane,
.jfx-chip-view > .scroll-pane > .viewport {
    -fx-background-color: TRANSPARENT;
}

.jfx-chip-view > .scroll-pane > .scroll-bar:horizontal,
.jfx-chip-view > .scroll-pane > .scroll-bar:vertical {
    -fx-background-color: TRANSPARENT;
}

.jfx-chip-view > .scroll-pane > .scroll-bar:horizontal .track,
.jfx-chip-view > .scroll-pane > .scroll-bar:vertical .track {
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.jfx-chip-view > .scroll-pane > .scroll-bar:horizontal .thumb,
.jfx-chip-view > .scroll-pane > .scroll-bar:vertical .thumb {
    -fx-background-color: #898989;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.jfx-chip-view > .scroll-pane > .corner {
    -fx-background-color: TRANSPARENT;
}

.jfx-chip-view > .scroll-pane > .scroll-bar:horizontal .increment-button,
.jfx-chip-view > .scroll-pane > .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.jfx-chip-view > .scroll-pane > .scroll-bar:vertical .increment-button,
.jfx-chip-view > .scroll-pane > .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.jfx-chip-view > .scroll-pane > .scroll-bar .increment-arrow,
.jfx-chip-view > .scroll-pane > .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.jfx-password-field {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-password-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-password-field > .input-focused-line{
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-password-field > .input-focused-line{
    -fx-pref-height: 2px;
    -fx-background-color: -jfx-focus-color;
}

.jfx-password-field,
.jfx-password-field:focused {
    -fx-prompt-text-fill: #4D4D4D;
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-password-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-password-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-password-field .error-icon {
    -fx-fill: #D34336;
}

.jfx-text-area {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0 0 ;
}

.jfx-text-area > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-text-area > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-text-area,
.jfx-text-area:focused {
    -fx-prompt-text-fill: #4D4D4D;
}

.jfx-text-area,
.jfx-text-area .scroll-pane,
.jfx-text-area:focused,
.jfx-text-area:focused .scroll-pane{
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-text-area .content,
.jfx-text-area:focused .content{
    -fx-background-color:TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-padding: 0 0 0 0;
}

.jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-area .error-label {
    -fx-text-fill: #D34336;
}

.jfx-text-area .error-icon {
    -fx-fill: #D34336;
}

.jfx-text-field {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-text-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-text-field > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
}

.jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-text-field .error-icon {
    -fx-fill: #D34336;
}

/* -------------- STYLES FOR THE DEFAULT JFXTEXTFIELD-BASED COMBOBOX ------------- */

.combo-box-base:editable > .jfx-text-field,
.date-picker > .jfx-text-field,
.jfx-date-picker > .jfx-text-field,
.combo-box-base:editable:focused > .text-field,
.combo-box-base:editable > .text-field:focused,
.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.jfx-date-picker > .jfx-text-field,
.jfx-time-picker > .jfx-text-field{
    -jfx-focus-color: -jfx-default-color;
}

.combo-box-base:error > .jfx-text-field,
.combo-box-base:error > .jfx-text-field {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-button:armed,
.jfx-button:hover,
.jfx-button:focused,
.jfx-button {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
}


/*******************************************************************************
 *                                                                             *
 * JFXChipView                                                                 *
 *                                                                             *
 ******************************************************************************/

.jfx-chip-view .jfx-chip .close-button {
    -fx-background-color: #A6A6A6;
    -fx-pref-width: 20;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 20;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 20;
}

.jfx-chip-view .jfx-chip .close-button .jfx-rippler {
    -jfx-rippler-fill: BLACK;
}

.jfx-chip-view .jfx-chip .close-button .jfx-svg-glyph {
    -fx-shape: "M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z";
    -fx-background-color: #E0E0E0;
    -jfx-size: 8;
}


/*******************************************************************************
 *                                                                             *
 * JFXTabPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button {
    -fx-background-color: TRANSPARENT;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button .jfx-rippler{
    -jfx-rippler-fill: WHITE;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-shape: "M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z";
    -jfx-size: 12;
    -fx-background-color: rgba(255, 255, 255, .87);
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-close-button > .jfx-svg-glyph {
    -fx-background-color: WHITE;
}