/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.settingsPane {
}

.settingsPaneArea {
  padding: 20px;
  border-radius: 10px;
  background-color: black;
}
