/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
